<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
     body {
         background-color: #E460EA;
     }
     h1 {
         background-color: #E8EA60;
     }
     p {
         background-color: #FFFFFF);
     }
  </style>

  <body>
   <center>


       HELLO!


     </center>

  </body>
</html>